.App {
  background-color: #f2f2f2;
  max-width: 66.67%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  text-align: center;
  margin-top: 2rem;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}



/* button section at the bottom */
button {
  background-color: #444;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

button:nth-of-type(1) {
  background-color: #555;
}

button:nth-of-type(2) {
  background-color: #666;
}

button:nth-of-type(3) {
  background-color: #777;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Custom styles for button sizes */
button {
  width: calc((100% / 3) - 1rem);
  /* subtract 1rem for spacing */
  height: 2cm;
  margin-right: 1rem;
}

button:last-of-type {
  margin-right: 0;
}

.back {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.back span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.back span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.back:hover span {
  padding-left: 25px;
}

.back:hover span:after {
  opacity: 1;
  left: 0;
}

/* formats for displaying the products */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2rem;
}

th,
td {
  text-align: left;
  padding: 1rem;
  border: 1px solid #ccc;
}

th {
  background-color: #eee;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
  cursor: pointer;
}